@import '~bootstrap/scss/bootstrap';
@import '/src/assets/styles/global';

*{
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: normal;

  margin: 0px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
